cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

input {
    keyboard {
        xkb {
            layout "us"
            options "grp:alt_caps_toggle"
        }
        repeat-delay 300
        numlock
    }
    touchpad {
        natural-scroll
    }
}

layout {
    gaps 6
    default-column-width { proportion 1.0; }
    border { width 2; }
    focus-ring { off; }
}

include "./noctalia-shell.kdl"
include "./spawn-at-startup.kdl"
include "./key-bindings.kdl"
include "./window-rules.kdl"
